body {
    background-color: #007AAF !important;
}


.container {
    background-color: #007AAF !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    z-index: 2;
}

.quiz-answer-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 36px;
    margin-bottom: 26px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.d-none {
    display: none;
}

.overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    position: absolute;
}

.button{
    position: relative;
}